<% provide :title, t(".page_title") %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t ".avatar" %></th>
      <th scope="col"><%= t ".thead_name" %></th>
      <th scope="col"><%= t ".thead_email" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%= paginate @users, theme: "twitter-bootstrap-3" %>
